body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #202020;
    color: #b6b6b6;
}

h2 {
    text-align: center;
    color: #FAFAFA;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

form {
    background-color: #202020;
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
}

form input[type="text"], form input[type="submit"] {
    display: block;
    margin: 15px 0;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input[type="text"] {
        background-color: #1e1c2e;
        color: #b6b6b6;
        
    padding-left: 10px;
}

form input[type="text"]:focus {
    border-color: #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    color: #b6b6b6;
}

form input[type="submit"], a.button {
    background-color: rgb(134, 243, 134);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="submit"]:active, a.button:active {
    background-color: rgb(134, 243, 134);
}

a.button {
    background-color: #cccccc;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 115px;
}

a {
    color: #b6b6b6;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: aquamarine;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #1e1c2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: none;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #1e1c2e;
}

th {
    background-color: #286840;
    color: white;
   
    font-size: 14px;
}

td {
    font-size: 14px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.center-image {
    max-width: 100px;
    height: auto;
}

td a {
    margin-right: 10px;
    font-size: 14px;
    color: #555555;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

table tr:hover {
    background-color: #1e1c2e;
}

.create-button {
    margin-top: 20px;
    display: block;
    text-align: center;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    form input[type="text"], form input[type="submit"], a.button {
        font-size: 14px;
    }

    table, th, td {
        font-size: 12px;
        padding: 10px;
    }
}
